<mat-toolbar color="primary">
  <span>Mis mapas</span>
</mat-toolbar>
<div class="main-container">
  <!--<mat-progress-bar mode="query"></mat-progress-bar>
  <h3>Botones</h3>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>-->
  <mat-card>
    <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
      <app-mapa></app-mapa>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>
